
.container_boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


    width: 100%;
    width: 760px;
    height: 760px;
   
    color: #4747;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    }

.box{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    width: 360px;
    height: 350px;

    color: #474747;
    background-color: #fff;
    border: 1px solid #000;

    border-radius: 5px;
    }
    